aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
alembic==1.16.2
annotated-types==0.7.0
anyio==4.9.0
async-timeout==5.0.1
attrs==25.3.0
blinker==1.9.0
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools==5.5.2
certifi @ file:///croot/certifi_1750863846190/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.2.1
cloudpickle==3.1.1
contourpy==1.3.2
cycler==0.12.1
databricks-sdk==0.57.0
docker==7.1.0
exceptiongroup==1.3.0
fastapi==0.115.13
filelock @ file:///croot/filelock_1744281381737/work
Flask==3.1.1
fonttools==4.58.4
frozenlist==1.7.0
fsspec==2025.5.1
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-auth==2.40.3
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
greenlet==3.2.3
gunicorn==23.0.0
h11==0.16.0
idna @ file:///croot/idna_1714398848350/work
importlib_metadata==8.7.0
itsdangerous==2.2.0
Jinja2 @ file:///croot/jinja2_1741710844255/work
joblib==1.5.1
kiwisolver==1.4.8
lightning-utilities==0.14.3
Mako==1.3.10
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.3
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mlflow==3.1.1
mlflow-skinny==3.1.1
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.5.1
networkx @ file:///croot/networkx_1737039604450/work
numpy @ file:///croot/numpy_and_numpy_base_1725470312869/work/dist/numpy-2.0.1-cp310-cp310-linux_x86_64.whl#sha256=120568f3fd675f59e4cb6de79a5c193b4067d90878d8bab2040fda8e3a2df6fa
opentelemetry-api==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
packaging==25.0
pandas==2.3.0
pillow @ file:///croot/pillow_1744613067434/work
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.11.7
pydantic_core==2.33.2
pyparsing==3.2.3
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytorch-lightning==2.5.2
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
requests @ file:///croot/requests_1750426329888/work
rsa==4.9.1
scikit-learn==1.7.0
scipy==1.15.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.41
sqlparse==0.5.3
starlette==0.46.2
sympy==1.13.1
threadpoolctl==3.6.0
tomli==2.2.1
torch==2.5.1
torch-geometric==2.6.1
torchaudio==2.5.1
torchmetrics==1.7.3
torchvision==0.20.1
tqdm==4.67.1
triton==3.1.0
typing-inspection==0.4.1
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.2
urllib3 @ file:///croot/urllib3_1750775463400/work
uvicorn==0.34.3
Werkzeug==3.1.3
yarl==1.20.1
zipp==3.23.0
